/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
img {
    width: 500px;
    height: 325px;
    aspect-ratio: 1;
}

.card {
    max-width: 450px;
}
